<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    .email-body {
      margin: 5px 25px 10px 25px;
      padding: 1% 5% 1% 15%;
    }

    .email-body .header {
      margin: 0 auto;
      text-align: center;
      display: block;
      padding: 20px 0px;
      background: #ececec;
      height: 100px;
    }

    .email-body .header a {
      padding: 20px 0px;
    }

    .img-center {
      margin: 0 auto;
    }
  </style>
</head>
<body>
  <div class="email-body">
    <div class="header">
      <a href="{{site_url}}">
        <img class="img-center" src="{{logo_url}}" width="125" height="60" alt="Reel Reel Logo">
      </a>
    </div>
    <p>Hi {{seller_name}},</p>
    <p>
      {{buyer_name}} has won the bidding for the product <strong>{{product_title}} {{product_type}}</strong> and the system allows 72 
      hours to complete the sale. Once you have been paid, you should mark the <strong>{{product_title}} {{product_type}}</strong> 
      as sold.<br />
      
      {{buyer_name}} is located in {{city}}, {{country}} and you should communicate with the buyer or send an invoice.
    </p>
  </div>
</body>
</html>
