<div class="email-body">
   <p>Hi {{seller_name}},</p>

  <p>
    {{buyer_name}} has agreed to purchase the
    <a href="{{post_url}}">{{product_link}}</a> {{product_type}}, which
    sold for {{currency}} {{selling_price}}.<br />

    The system allows 72 hours to complete the sale. Once you have been paid,
    you should mark the {{product_type}} as sold.<br />

    Here is the contact info for {{buyer_name}}:
  </p>

  <address>
    Name: {{buyer_name}}<br />
    Address: {{buyer_address}}<br />
    City: {{buyer_city}}<br />
    Country: {{buyer_country}}<br />
    Postal code: {{buyer_postal_code}}<br />
  </address>

  <p>
    You can
    <a href="{{reply_url}}">Send Email To Buyer </a> {{buyer_name}} or
    <a href="{{create_invoice_url}}">Create an Invoice</a>.
  </p>
</div>
