<h2>Hi Admin,</h2>
<p>
  You are getting this email because someone submitted new service &amp;
  Technicians
</p>
<p>
  <strong>Here is the post details:&nbsp;</strong><br />{{service_logo_title}}
</p>
<p><strong>Service Name:</strong> {{service_shop_name}}</p>
<p><strong>Location- City, Country:</strong>{{service_location}}</p>
<p><strong>Address:</strong> {{service_address}}</p>
<p><strong>Email:</strong> {{service_email}}</p>
<p>
  <a href="{{post_url}}">View Post</a> <a href="{{post_edit_url}}">Edit Post</a>
</p>
