<div class="email-body">
  <p>
    Congratulations!<br />

    You should be receiving communication from the seller
    <strong>{{seller_name}}</strong> who is located in
    <strong>{{seller_city}}, {{seller_country}}</strong> shortly. Alternately you can request
    an invoice. <br />

    The <strong>{{product_title}} {{product_type}}</strong> is now listed as
    <em>Pending</em> on the website, so nobody else can buy it. You have 72
    hours to complete the transaction or it will be posted back for sale.
  </p>

  <table>
    <thead style="border-bottom: 2px solid #dddddd">
      <tr>
        <th>Summary</th>
        <th>Price</th>
        <th>Request An Invoice</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{product_title}}</td>
        <td>{{currency}} {{selling_price}}</td>
        <td>
          <button>
            <a href="{{request_invoice_url}}" target="_blank"
              >Request Invoice</a
            >
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
